<ul class="navbar-nav sidebar sidebar-dark accordion barra-lateral" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="../index.html">
        <div class="sidebar-brand-icon">
            <img class="logo-pat" src="../assets/img/img-home.png" alt="">
        </div>
        <div class="sidebar-brand-text mx-3">Security Model</div>
    </a>

    <hr class="sidebar-divider">

    <li class="nav-item">
        <a class="nav-link" href="#" id="btnLogout">
            <i class="fas fa-sign-out-alt"></i>
            <span>Salir</span>
        </a>
    </li>

    <hr class="sidebar-divider my-0">

    <li class="nav-item"><a class="nav-link" href="../index.html"><i class="fa-sharp fa-solid fa-house"></i><span>Home</span></a></li>

    <hr class="sidebar-divider">

    <li class="nav-item"><a class="nav-link" href="form.html"><i class="fas fa-fw fa-table"></i><span>Form</span></a></li>
    <li class="nav-item"><a class="nav-link" href="module.html"><i class="fas fa-fw fa-table"></i><span>Module</span></a></li>
    <li class="nav-item"><a class="nav-link" href="permission.html"><i class="fas fa-fw fa-table"></i><span>Permission</span></a></li>
    <li class="nav-item"><a class="nav-link" href="person.html"><i class="fas fa-fw fa-table"></i><span>Person</span></a></li>
    <li class="nav-item"><a class="nav-link" href="rol.html"><i class="fas fa-fw fa-table"></i><span>Rol</span></a></li>
    <li class="nav-item"><a class="nav-link" href="user.html"><i class="fas fa-fw fa-table"></i><span>User</span></a></li>
    <li class="nav-item"><a class="nav-link" href="rolFormPermission.html"><i class="fas fa-fw fa-table"></i><span>RolFormPerm</span></a></li>
    <li class="nav-item"><a class="nav-link" href="formModule.html"><i class="fas fa-fw fa-table"></i><span>FormModule</span></a></li>
    <li class="nav-item"><a class="nav-link" href="rolUser.html"><i class="fas fa-fw fa-table"></i><span>RolUser</span></a></li>

    <hr class="sidebar-divider d-none d-md-block">
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>